<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>822788430511-04v4a9c8p9ig6tdb052kt1fc549c44eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822788430511-04v4a9c8p9ig6tdb052kt1fc549c44eu</string>
	<key>API_KEY</key>
	<string>AIzaSyCtO-AB877MR2B1JkJwA3_NEr1_Cx_yTXA</string>
	<key>GCM_SENDER_ID</key>
	<string>822788430511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakt.RecycleOn</string>
	<key>PROJECT_ID</key>
	<string>recycleon-18598</string>
	<key>STORAGE_BUCKET</key>
	<string>recycleon-18598.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822788430511:ios:9336c396c6cefb9f</string>
	<key>DATABASE_URL</key>
	<string>https://recycleon-18598.firebaseio.com</string>
</dict>
</plist>